.main-container {
  display: flex;
  margin: 5em auto;
  margin-bottom: 1vh;
  justify-content: center;
  gap: 10em;
  flex-wrap: wrap-reverse;
}

.content {
  /* Change the margin after the filling all the details. Its might need to use text-align: center in h1,h3 instead */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content h1,
.content h3 {
  margin: 0;
}

.content h1:first-child {
  text-decoration: overline;
}

.content h1 {
  font-size: 55px;
}

.content h3 {
  font-size: 25px;
}
.content p {
  font-size: 18px;
  word-spacing: 1.5px;
}

.portfolio-image {
  width: 100%;
  height: auto;
  max-width: 40em;
  max-height: 40em;
  border-radius: 50%;
  align-self: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8em;
  /* margin-bottom: 1em; */
  max-width: 30em;
}

.contact-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.contact-container img {
  width: 40px;
  height: 40px;
}

#github-icon {
  width: 37px;
  height: 37px;
}
