* {
  background-color: #1b1f24;
  color: aliceblue;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.links-container {
  display: flex;
  gap: 25px;
  margin-right: 6em;
  align-items: center;
}

.links-container a {
  text-decoration: none;
}
